.aboutSection{
    text-align: center;
}
.titleAbout{
    margin-top: 100px;
    margin-left:80px;
    margin-right: 80px;
    margin-bottom:80px;
}
.titleAbout2{
    margin-top: 200px;
}
.title_section__line {
    width: 5rem;
    border-bottom: 5px solid #33c073;
    margin:0 auto
}
.section__line {
    width: 75%;
    border-bottom: 2px solid #33c073;
    margin:0 auto
}
.GridAbout{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px .5em;
    margin: 80px;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}
.subtitleAbout{
    /* margin: 60px; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.ParaAbout{
    margin-top: 20px;
    margin-bottom: 20px;
}
.subtitlehistory{
    margin-top: 10px;
    margin-left:0;
    margin-right: 60px;
    margin-bottom:10px;
}
.historyAbout{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom:60px;
    text-align: center;
}
.pictureHistory{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 310px;
}
.ima-profile{
    text-align: center;
    width: 100%;
    height: 100%;
}
.cv{
    background-color:#33c073;
    text-align: center;   
}
.icon-cv{
    text-align: center;  
    margin:60px 0px 20px 0px;
}
.wordsCv{
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom:30px;
}
.cvButton{
    text-align: center;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom:60px;
}
.gridOfimatica{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px .5em;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}
.gridWeb{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px .5em;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}
.gridback{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px .5em;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}
.gridData1{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px .5em;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}
.gridData2{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px .5em;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}
.gridDev{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px .5em;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}
.btMoreAboutMe{
    text-align: center;  
    border-radius: 10px;
}
.jobs{
    border: 2px solid;
    border-color: bisque;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #dfede5;
}
.jobslist{
    margin-top: 20px;
    
}
.titleCompanyJob{
    margin-top: 25px;
    margin-bottom: 20px;
}

.descripbeJob{
    vertical-align: middle;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: justify;

}


  @media (max-width: 236px) {
    .ima-profile{
        text-align: center;
        width: 180px;
        height: 180px;
    }
}


