.footer{
    background-color: #0f4061;
    color: white;
}
.titleContact{
    margin-top: 30px;
    color: white;
}
.copyRight{
    color: white;
    margin: 0px 0px 60px 0px;
    margin-bottom: 10px;
}
.grid_contact{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 20px;
}