.grip-page-project{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid;
    border-color: rgb(255, 247, 238);
    border-radius: 25px;
}
.primera{
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}
.primera img {
    transform: skew(0deg, -13deg);
    height: 250px;
    margin: -35px 0px 0px -70px;
}
.imagen_primera{
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 250px;
    width: 200px; 
}
.TitlePageProject{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.ParagrapPageProject{
    text-align: justify;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}
.tpButton{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .grip-page-project  {
        grid-template-columns: repeat(1, 1fr);
    }
  }
