/* #spin {
    color:rgb(63, 42, 42);
  }
  #spin:after {
    content:"";
    animation: spin 4s linear infinite; */

@keyframes bounce { 
    20%, 50%, 80% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}
      
#spin {
    animation: bounce 4s infinite;
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin:0px auto;
    padding:3%;
}
    


      
      
