{% extends 'base.html' %}
{% load static %}
{% load i18n %}  {#1#}
{% block titulo %} {% trans "Andrés Triana - Portfolio" %} {% endblock titulo %}


        {% block cuerpo %}
        <!-- Profile -->
        <section>
            <div class="aboutSection container">
                <div>
                    <div class="titleAbout titleAbout2">
                        <h1>{% trans "Profile" %}</h1>
                        <div class="title_section__line"></div>
                    </div>
                    <div>
                        {% if request.LANGUAGE_CODE == 'en-us' %}
                        <p class="ParaAbout">{% trans "Systems engineer with extensive experience in positions such as database management, evaluation and monitoring, construction of management reports and progress indicators, using Python and Excel for extraction, debugging, analysis, visualization of data and information. Strengths in interpreting, analyzing and diagnosing process advances, good at designing and implementing operational plans oriented to timely decision-making." %}</p>    
                        {% elif request.LANGUAGE_CODE == 'es' %}
                        <p class="ParaAbout">{% trans "Ingeniero de sistemas con amplia experiencia en cargos como evaluación y monitoreo, manejo de bases de datos, construcción de reportes gerenciales e indicadores de avance, usando Python y Excel para la extracción, depuración, análisis, visualización de datos e información. Fortalezas para interpretar, analizar y diagnosticar avances de procesos, así como para diseñar e implementar planes operativos orientados para la toma de decisiones oportunas." %}</p>    
                        {% elif request.LANGUAGE_CODE == 'fr' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <div class="row">
                <div>
                    <div class="aboutSection container">
                        <div>
                            <div class="titleAbout">
                                <h1>{% trans "Experience" %}</h1>
                                <div class="title_section__line"></div>
                            </div>
                            {% if request.LANGUAGE_CODE == 'en-us' %}
                            {% for en in english %}
                            <div>
                                <div class="jobs">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4 jobslist">
                                            <div>
                                                <h4 class="titleCompanyJob">{{ en.titleCompany }}</h4>
                                            </div>
                                            <div>
                                                <h6>{{ en.titleJob }}</h6>
                                                <p>{{ en.beginJob }} - {{ en.endJob }}</p>
                                            </div> 
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-8 jobslist ">
                                            <div class="descripbeJob">
                                                <p>{{ en.descriptionJob }}</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} 
                            {% elif request.LANGUAGE_CODE == 'es' %}
                            {% for en in spanish %}
                            <div>
                                <div class="jobs">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4 jobslist">
                                            <div>
                                                <h4 class="titleCompanyJob">{{ en.titleCompany }}</h4>
                                            </div>
                                            <div>
                                                <h6>{{ en.titleJob }}</h6>
                                                <p>{{ en.beginJob }} - {{ en.endJob }}</p>
                                            </div> 
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-8 jobslist ">
                                            <div class="descripbeJob">
                                                <p>{{ en.descriptionJob }}</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} 
                            {% elif request.LANGUAGE_CODE == 'fr' %}
                            
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- education -->
        <section>
            <div class="aboutSection container">
                <div class="titleAbout">
                    <h1>{% trans "Education" %}</h1>
                    <div class="title_section__line"></div>
                </div>
                {% if request.LANGUAGE_CODE == 'en-us' %}
                {% for en in EduEnglish %}
                <div class="jobs">
                    <div class="row">
                        <div class="jobslist">
                            <div>
                                <h4 class="titleCompanyJob">{{ en.nameCollege }}</h4>
                            </div>
                            <div>
                                <h6>{{ en.titleEducations }}</h6>
                                <p>{{ en.beginEducation }} - {{ en.endEducation }}</p>
                            </div> 
                        </div>
                    </div>
                </div>

                {% endfor %} 
                {% elif request.LANGUAGE_CODE == 'es' %}

                {% for en in EduEpanish %}
                <div class="jobs">
                    <div class="row">
                        <div class="jobslist">
                            <div>
                                <h4 class="titleCompanyJob">{{ en.nameCollege }}</h4>
                            </div>
                            <div>
                                <h6>{{ en.titleEducations }}</h6>
                                <p>{{ en.beginEducation }} - {{ en.endEducation }}</p>
                            </div> 
                        </div>
                    </div>
                </div>

                {% endfor %}

                {% elif request.LANGUAGE_CODE == 'fr' %}
                    
                {% endif %}
            </div>
        </section>

        <!-- Certifications -->
        <section>
            <div class="aboutSection container">
                <div class="titleAbout">
                    <h1>{% trans "Certifications" %}</h1>
                    <div class="title_section__line"></div>
                </div>
                {% for en in certificate %}
                <div class="jobs">
                    <div class="row">
                        <div class="jobslist">
                            <div>
                                <h4 class="titleCompanyJob">{{ en.titleCertification }}</h4>
                            </div>
                            <div>
                                <p><a href="{{ en.LinkCertification }}" target="_blank"><img src="{{ en.institute.imageInstitute.url }}" width="50" height="50"></a></p>
                            </div> 
                        </div>
                    </div>
                </div>
                {% endfor %} 
            </div>
        </section>

        <!-- skills -->
        <section>

            <div class="aboutSection container">
    
                <div class="titleAbout">
                    <h1>{% trans "Skills" %}</h1>
                    <div class="title_section__line"></div>
                </div>
    
                <div class="row">
                    <!-- Data Science -->
                    <div class="col-md-6 col-xs-6 DataScience">
                        <div id="spin">
                            {% if request.LANGUAGE_CODE == 'en-us' %}
                                <h3>{% trans "Data science, analytics and visualization" %}</h3>
                            {% elif request.LANGUAGE_CODE == 'es' %}
                                <h3>Data science, analytics y visualization</h3>
                            {% endif %}
                        </div>
                        <div>
                            <div id="my_dataviz"></div>
                            <!-- <p>{{DataDict}}</p> -->
                        </div>
                    </div>
                    <br>
                    <!-- Desarrollo Web -->
                    <div class="col-md-6 col-xs-6 fullStackDevelop">
                        <div id="spin">
                            <h3>Full stack developer</h3>
                        </div>
                        <div class="cloudWords">
                            <div id="my_dataviz2"></div>
                            <!-- <p>{{DataDict}}</p> -->
                        </div>
                    </div>
                    <br>
                    <!-- Ofimatica and project managae-->
                    <div class="col-md-6 col-xs-6  Office">
                        <div id="spin">
                        {% if request.LANGUAGE_CODE == 'en-us' %}
                            <h3>Office and Project Management</h3>
                        {% elif request.LANGUAGE_CODE == 'es' %}
                            <h3>Office y Project Managment</h3>
                        {% endif %}
                        </div>
                        <div class="cloudWords">
                            <div id="my_dataviz3"></div>
                            <!-- <p>{{DataDict}}</p> -->
                        </div>
                    </div>
                    <br>
                    <!-- Coding -->
                    <div class="col-md-6 col-xs-6 Coding">
                        <div id="spin">
                            <h3>Coding</h3>
                        </div>
                        <div class="cloudWords">
                            <div id="my_dataviz4"></div>
                            <!-- <p>{{DataDict}}</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>   
            // List of words
            // var myWords = [{word: "Running", size: "10"}, {word: "Surfing", size: "20"}, {word: "Climbing", size: "50"}, {word: "Kiting", size: "30"}, {word: "Sailing", size: "20"}, {word: "Snowboarding", size: "60"} ]
            var myWords = [{{DataDict|safe}}]

            // set the dimensions and margins of the graph
            var margin = {top: 10, right: 10, bottom: 10, left: 10}
                // width = 450 - margin.left - margin.right,
                // height = 450 - margin.top - margin.bottom;

                screenWidth = 0;

                if ($(window).width() < 320) {
                    screenWidth = 260
                }
                else if ($(window).width() < 375) {
                    screenWidth = 280
                }
                else if ($(window).width() < 414) {
                    screenWidth = 310
                }
                else if ($(window).width() < 450) {
                    screenWidth = 366
                }
                else {
                    screenWidth = 450
                }

                // console.loq(screenWidth)

                width = screenWidth - margin.left - margin.right,
                height = screenWidth - margin.top - margin.bottom;

            // append the svg object to the body of the page
            var svg = d3.select("#my_dataviz").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            // Constructs a new cloud layout instance. It run an algorithm to find the position of words that suits your requirements
            // Wordcloud features that are different from one word to the other must be here


            var multiSize = 0;

            if ($(window).width() < 320) {
                    multiSize = 0.3
                }
                else if ($(window).width() < 375) {
                    multiSize = 0.4
                }
                else if ($(window).width() < 414) {
                    multiSize = 0.5
                }
                else if ($(window).width() < 450) {
                    multiSize = 0.6
                }
                else {
                    multiSize = 1
                }

            var layout = d3.layout.cloud()
            .size([width, height])
            .words(myWords.map(function(d) { return {text: d.word, size:d.size*multiSize}; }))
            .padding(0)        //space between words
            .rotate(function() { return ~~(Math.random() * 2) * 90; })
            .fontSize(function(d) { return d.size; })      // font size of words
            .on("end", draw);
            layout.start();

            // This function takes the output of 'layout' above and draw the words
            // Wordcloud features that are THE SAME from one word to the other can be here
            function draw(words) {
            svg
                .append("g")
                .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                .selectAll("text")
                    .data(words)
                .enter().append("text")
                    .style("font-size", function(d) { return d.size; })
                    .style("fill", "#0f4061")
                    .attr("text-anchor", "middle")
                    .style("font-family", "Futura-bold-condensed")
                    .attr("transform", function(d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function(d) { return d.text; });
            }    
        </script>

        <script>  
            // List of words
            // var myWords = [{word: "Running", size: "10"}, {word: "Surfing", size: "20"}, {word: "Climbing", size: "50"}, {word: "Kiting", size: "30"}, {word: "Sailing", size: "20"}, {word: "Snowboarding", size: "60"} ]
            var myWords = [{{FullDict|safe}}]

            // set the dimensions and margins of the graph
            var margin = {top: 10, right: 10, bottom: 10, left: 10}
                // width = 450 - margin.left - margin.right,
                // height = 450 - margin.top - margin.bottom;

                screenWidth = 0;

                if ($(window).width() < 320) {
                    screenWidth = 260
                }
                else if ($(window).width() < 375) {
                    screenWidth = 280
                }
                else if ($(window).width() < 414) {
                    screenWidth = 310
                }
                else if ($(window).width() < 450) {
                    screenWidth = 366
                }
                else {
                    screenWidth = 450
                }

                // console.loq(screenWidth)

                width = screenWidth - margin.left - margin.right,
                height = screenWidth - margin.top - margin.bottom;

            // append the svg object to the body of the page
            var svg = d3.select("#my_dataviz2").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            // Constructs a new cloud layout instance. It run an algorithm to find the position of words that suits your requirements
            // Wordcloud features that are different from one word to the other must be here

            var multiSize = 0;

            if ($(window).width() < 320) {
                    multiSize = 0.3
                }
                else if ($(window).width() < 375) {
                    multiSize = 0.4
                }
                else if ($(window).width() < 414) {
                    multiSize = 0.5
                }
                else if ($(window).width() < 450) {
                    multiSize = 0.6
                }
                else {
                    multiSize = 1
                }

            var layout = d3.layout.cloud()
            .size([width, height])
            .words(myWords.map(function(d) { return {text: d.word, size:d.size*multiSize}; }))
            .padding(0)        //space between words
            .rotate(function() { return ~~(Math.random() * 2) * 90; })
            .fontSize(function(d) { return d.size; })      // font size of words
            .on("end", draw);
            layout.start();

            // This function takes the output of 'layout' above and draw the words
            // Wordcloud features that are THE SAME from one word to the other can be here
            function draw(words) {
            svg
                .append("g")
                .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                .selectAll("text")
                    .data(words)
                .enter().append("text")
                    .style("font-size", function(d) { return d.size; })
                    .style("fill", "#0f4061")
                    .attr("text-anchor", "middle")
                    .style("font-family", "Futura-bold-condensed")
                    .attr("transform", function(d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function(d) { return d.text; });
            }  

        </script>

        <script>  
            // List of words
            // var myWords = [{word: "Running", size: "10"}, {word: "Surfing", size: "20"}, {word: "Climbing", size: "50"}, {word: "Kiting", size: "30"}, {word: "Sailing", size: "20"}, {word: "Snowboarding", size: "60"} ]
            var myWords = [{{OfficeDict|safe}}]

            // set the dimensions and margins of the graph
            var margin = {top: 10, right: 10, bottom: 10, left: 10}
                // width = 450 - margin.left - margin.right,
                // height = 450 - margin.top - margin.bottom;

                screenWidth = 0;

                if ($(window).width() < 320) {
                    screenWidth = 260
                }
                else if ($(window).width() < 375) {
                    screenWidth = 280
                }
                else if ($(window).width() < 414) {
                    screenWidth = 310
                }
                else if ($(window).width() < 450) {
                    screenWidth = 366
                }
                else {
                    screenWidth = 450
                }

                // console.loq(screenWidth)

                width = screenWidth - margin.left - margin.right,
                height = screenWidth - margin.top - margin.bottom;

            // append the svg object to the body of the page
            var svg = d3.select("#my_dataviz3").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            // Constructs a new cloud layout instance. It run an algorithm to find the position of words that suits your requirements
            // Wordcloud features that are different from one word to the other must be here

            var multiSize = 0;

            if ($(window).width() < 320) {
                    multiSize = 0.3
                }
                else if ($(window).width() < 375) {
                    multiSize = 0.4
                }
                else if ($(window).width() < 414) {
                    multiSize = 0.5
                }
                else if ($(window).width() < 450) {
                    multiSize = 0.6
                }
                else {
                    multiSize = 1
                }

            var layout = d3.layout.cloud()
            .size([width, height])
            .words(myWords.map(function(d) { return {text: d.word, size:d.size*multiSize}; }))
            .padding(0)        //space between words
            .rotate(function() { return ~~(Math.random() * 2) * 90; })
            .fontSize(function(d) { return d.size; })      // font size of words
            .on("end", draw);
            layout.start();

            // This function takes the output of 'layout' above and draw the words
            // Wordcloud features that are THE SAME from one word to the other can be here
            function draw(words) {
            svg
                .append("g")
                .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                .selectAll("text")
                    .data(words)
                .enter().append("text")
                    .style("font-size", function(d) { return d.size; })
                    .style("fill", "#0f4061")
                    .attr("text-anchor", "middle")
                    .style("font-family", "Futura-bold-condensed")
                    .attr("transform", function(d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function(d) { return d.text; });
            }  

        </script>

        <script>  
            // List of words
            // var myWords = [{word: "Running", size: "10"}, {word: "Surfing", size: "20"}, {word: "Climbing", size: "50"}, {word: "Kiting", size: "30"}, {word: "Sailing", size: "20"}, {word: "Snowboarding", size: "60"} ]
            var myWords = [{{CodDict|safe}}]

            // set the dimensions and margins of the graph
            var margin = {top: 10, right: 10, bottom: 10, left: 10}
                // width = 450 - margin.left - margin.right,
                // height = 450 - margin.top - margin.bottom;

                // width = 450 - margin.left - margin.right,
                // height = 450 - margin.top - margin.bottom;

                screenWidth = 0;

                if ($(window).width() < 320) {
                    screenWidth = 260
                }
                else if ($(window).width() < 375) {
                    screenWidth = 280
                }
                else if ($(window).width() < 414) {
                    screenWidth = 310
                }
                else if ($(window).width() < 450) {
                    screenWidth = 366
                }
                else {
                    screenWidth = 450
                }

                // console.loq(screenWidth)

                width = screenWidth - margin.left - margin.right,
                height = screenWidth - margin.top - margin.bottom;


            // append the svg object to the body of the page
            var svg = d3.select("#my_dataviz4").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            // Constructs a new cloud layout instance. It run an algorithm to find the position of words that suits your requirements
            // Wordcloud features that are different from one word to the other must be here

            var multiSize = 0;

            if ($(window).width() < 320) {
                    multiSize = 0.3
                }
                else if ($(window).width() < 375) {
                    multiSize = 0.4
                }
                else if ($(window).width() < 414) {
                    multiSize = 0.5
                }
                else if ($(window).width() < 450) {
                    multiSize = 0.6
                }
                else {
                    multiSize = 1
                }

            var layout = d3.layout.cloud()
            .size([width, height])
            .words(myWords.map(function(d) { return {text: d.word, size:d.size*multiSize}; }))
            .padding(0)        //space between words
            .rotate(function() { return ~~(Math.random() * 2) * 90; })
            .fontSize(function(d) { return d.size; })      // font size of words
            .on("end", draw);
            layout.start();

            // This function takes the output of 'layout' above and draw the words
            // Wordcloud features that are THE SAME from one word to the other can be here
            function draw(words) {
            svg
                .append("g")
                .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                .selectAll("text")
                    .data(words)
                .enter().append("text")
                    .style("font-size", function(d) { return d.size; })
                    .style("fill", "#0f4061")
                    .attr("text-anchor", "middle")
                    .style("font-family", "Futura-bold-condensed")
                    .attr("transform", function(d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function(d) { return d.text; });
            }   

        </script>


        {% endblock cuerpo %}